@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");
/* RESET */
* {
  margin: 0px;
  padding: 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  background-color: red;
  width: 100%;
  text-align: center;
  padding: 20px 0px;
  position: fixed;
  z-index: 1;
}

header h1 {
  color: white;
  /* padding: 10px; */
  border: 6px solid white;
  border-radius: 36px;
  /* margin: 10px; */
  /* padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px; */
  padding: 6px 16px;
  display: inline;
}

.banner {
  position: relative;
}

.banner__img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.banner__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(58, 26, 26, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.banner__overlay__title {
  color: white;
  font-size: 3rem;
  letter-spacing: 5px;
  font-family: "bungee", cursive;
}

.menu {
  background-color: #4b4b4b;
  text-align: center;
  position: sticky;
  top: 80px;
  padding: 20px;
  z-index: 1;
  margin-top: -4px;
}

.menu ul {
  white-space: nowrap;
}

.menu__list {
  display: inline-block;
  width: 25%;
}

.menu__list__link {
  text-decoration: none;
  color: white;
}
.menu__list__link:hover {
  text-decoration: underline;
}

main {
  max-width: 100%;
  width: 1200px;
  margin: 0px auto;
  padding: 0%, auto;
}

article {
  display: flex; /* flex container */
  /* flex-direction: column; */
  /* background-color: #4b4b4b; */
  /* justify-content: space-around; */
  /* height: 200px; */
  /* align-items: center; */
}

.article__image {
  /* background-color: lightblue; */
  /* height: 100px; */
  flex: 1;
}

.article__caption {
  /* background-color: lightcoral; */
  /* width: 100px; */
  /* height: 100px; */
  flex: 3;
  padding: 20px;
}

.article__image--size {
  width: 90%;
}

.article__caption--header {
  color: #f63232;
  font-size: 40px;
  margin-bottom: 10px;
}

.article__caption--dese {
  text-align: justify;
  color: #4b4b4b;
  text-indent: 30px;
  line-height: 30px;
}

.comic {
  margin: 20px 0;
  text-align: center;
  overflow-x: auto;
  white-space: nowrap;
}

.comic__image {
  max-width: 100%;
  width: 200px;
  border-radius: 10px;
  margin: 10px;
}
.comic__image:hover {
  position: relative;
  top: -5px;
  cursor: pointer;
}

.join {
  color: #4b4b4b;
  background-color: #f4f4f4;
  padding: 40px 28px;
  text-align: center;
}

.join__header {
  font-size: 30px;
}

.join__desc {
  display: block;
  padding: 20px 0;
}

.join__input {
  border-radius: 20px;
  padding: 10px 20px;
  border: none;
  box-shadow: 5px 5px #4b4b4b;
}
.join__input:focus {
  border: 4px dashed #4b4b4b;
}
.join__input:valid {
  border: 4px solid red;
}

footer {
  color: white;
  background-color: red;
  padding: 30px;
  text-align: center;
}

footer::before {
  content: "CopyRight ";
  font-weight: bold;
}

footer::after {
  content: " Marvel";
  font-style: italic;
}
